* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER SETTINGS */

div.header-row, .header-row ul{
    display: flex;
    align-items: center;
}

div.header-row{
    justify-content: space-between;
    padding: 50px 10px 0 10px;
}

div.first-header-row {
    background-color: #F4F4F4;
}

.header-row ul{
    padding: 10px 15px 40px 15px;
    justify-content: center;
}

.header-row ul li::before,
.header-row ul li:last-of-type::after {
    content: "|";
    font-weight: bold;
    padding: 0 15px;
    color: brown;

}

.header-row ul li:first-of-type::before{
    padding-left: 0;
}

.header-row ul li:last-of-type::after{
    padding-right: 0;
}

.header-row ul li{
    list-style-type: none;
}

header input[type="checkbox"]{
    display: none;
}


/* ARTICLE SETTINGS */

article .article-header {
    margin-bottom: 20px;
    font-size: 1rem;
    border-left: 2px solid green;
    padding-left: 5px;
    color: brown;
    
}

/* MAIN SETTINGS */

main {
    width: 90vw;
    margin: 0 auto;
}